<!DOCTYPE html>
<html lang="fr">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/e-sante.png' %}" type="image/x-icon">
    
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <!--container principal de l'authentification-->
    <div class="auth-container">
        <!--Logo de l'application-->
        <div class="logo">
            <img src="{% static 'img/e-sante.png' %}" alt="logo e-sante">
        </div>

        <!-- Formulaire de connexion -->
        <form class="auth-form" method="post" action="{% url 'frontend:connexion' %}">
            {% csrf_token %}
            <h2>Connexion</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <!--Champ username-->
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Entrer votre e-mail" required>
            </div>
            <!--Champ de password -->
            <div class="form-group">
                <label>Mot de passe</label>
                <input type="password" name="password"  placeholder="Entrer votre mot de passe" required>
            </div>
            <!-- Mot de passe oublié -->
             <div class="auth-link">
                <a href="">Mot de passe oublié?</a>
             </div>
             <!--Bouton de connexion-->
             <button type="submit" class="btn">Se connecter</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>